<!DOCTYPE html>
<html>
    <head>
        <title>Final Projects</title>
        
    </head>
    <body>
      <h1>Final Projects</h1>
        
        <a href="/aa">1. AA Meetings</a>
        <a href="/deardiary">2. Dear Diary</a>
        <a href="/ss">3. Sensor</a>
        
        
    </body>
</html>